$primary: #007dc3;
$secondary: #4a8594;

$info: #44c7f4;
$success: #237f52;
$warning: #ffb900;
$danger: #de0f17;

$body-bg: #f8fafc;

$font-family-sans-serif: 'Roboto', sans-serif;

$input-border-width: 0;

$line-height-base: 1.5;
